/*
 * Author: C.D. MacEachern <craigm@fastmail.com>
 * Summary:
 * Utility classes to do things I always forget, waste time remembering
 * how to do...yank 'em from here or include this file for ultra-lazy-mode.
*/

/* Better sizing model for our brains to comprehend. */
* {
  box-sizing: border-box;
}

/* Common for me to use this preset; makes body fully responsive, vertically
stacked divs centered on screen; makes body take up 100% of viewable area instead of only the amount required to hold any content, which may only take up
25% of screen--this enables background-color and centering to work with whole
view area
*/
body {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Turn off li bullets and link underlines */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* div with children elements centered horizontally and vertically */
.center-inner-elems {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* nice little boxshadow highlight to give depth to any image/div. One of few
places I use pixels instead of em/rem. */
.shadowed {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

